/.idea/dictionaries/Mihai.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/MAIA.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-LMT8TGM 2018-08-01).xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-LMT8TGM 2018-08-09).xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-LMT8TGM 2019-01-22).xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-REF01JF 2018-07-24).xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-REF01JF 2018-11-18).xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-REF01JF 2018-12-24).xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-REF01JF 2019-01-22).xml
/.idea/workspace (Конфликтующая копия с компьютера DESKTOP-REF01JF 2019-01-29).xml
/.idea/workspace.xml
/__pycache__/DicomViewersSpace.cpython-35.pyc
/__pycache__/imageSegmentation.cpython-35.pyc
/__pycache__/MAIA.cpython-35.pyc
/__pycache__/mainWindow.cpython-35.pyc
/__pycache__/PacsDownloaderView.cpython-35.pyc
/__pycache__/PacsSettingView.cpython-35.pyc
/__pycache__/ViewersTools.cpython-35.pyc
/Classes/__pycache__/FolderDownload.cpython-35.pyc
/Classes/__pycache__/PacsConfig.cpython-35.pyc
/Classes/__pycache__/PacsDownload.cpython-35.pyc
/Classes/__pycache__/Patient.cpython-35.pyc
/Classes/__pycache__/Series.cpython-35.pyc
